:root {
  font-size: 18px;
  --border-radius: 5px;
  --green-background: #20AD20;
  --green-muted-background: #79D88A;
  --red-background: #F00;
  --red-muted-background: #d87979;
  --neutral-background: #c1c0c0;
  --dark-neutral-background: #4D4D4D;
  --main-background: #FFF;
  --main-background-font-color: #000;
  --opposite-background-font-color: #FFF;
  --opposite-background: #000;
  --background-hide-color: #000000AA;
  --body-background: #E6E6E6;
  --footer-background: #FFF;
  --ham-width : 20vw;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Signika Negative', sans-serif;
  background: var(--body-background);
}

button {
  cursor: pointer;
}

#__next {
  display: grid;
  grid-template-rows: max-content 1fr;
  height: 100svh;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  width: 100vw;
  padding: 10px;
  border-bottom: 1px solid var(--opposite-background);
  background-color: var(--main-background);
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  height: fit-content;
  align-items: center;
}

header svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

header div {
  text-align: center;
}

header div p {
  display: inline-block;
  font-size: 2rem;
  color: #20AD20;
}

header div p:first-of-type {
  color: var(--main-background-font-color);
}

header svg {
  color: var(--main-background-font-color);
}

main {
  min-height: 100%;
  background-color: inherit;
}

.footer_div img {
  transform: scale(70%);
}

.footer_div {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--footer-background);
  cursor: pointer;
  z-index: 998;
  margin: 10px;
}

footer div a {
  height: 50px;
  display: inline-block;
}

#plus_button {
  right: 0;
}

#plus_button:after {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  height: 3px;
  width: 35%;
  background: #000;
  top: 50%;
  left: 50%;
}

#plus_button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  height: 35%;
  width: 3px;
}

#loading_circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
}

#loading_circle::before {
  animation: 1.2s linear infinite loading;
  border: solid 5px var(--neutral-background);
  border-bottom-color: var(--green-background);
  border-radius: 50%;
  content: "";
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  will-change: transform;
}

@keyframes loading {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

:root.dark {
  --green-background: #178317;
  --green-muted-background: #79D88A;
  --red-background: #be0000;
  --red-muted-background: #d87979;
  --neutral-background: #878787;
  --dark-neutral-background: #4D4D4D;
  --main-background: #000;
  --main-background-font-color: #FFF;
  --opposite-background-font-color: #000;
  --opposite-background: #ddd;
  --background-hide-color: #343434AA;
  --body-background: #222222;
  --footer-background: #FFF;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  :root {
    --green-background: #178317;
    --green-muted-background: #79D88A;
    --red-background: #be0000;
    --red-muted-background: #d87979;
    --neutral-background: #878787;
    --dark-neutral-background: #4D4D4D;
    --main-background: #000;
    --main-background-font-color: #FFF;
    --opposite-background-font-color: #000;
    --opposite-background: #ddd;
    --background-hide-color: #343434AA;
    --body-background: #222222;
    --footer-background: #FFF;
  }
}

@media screen and (min-width: 800px) {
  :root {
    font-size: 24px;
  }

  header {
    grid-template-columns: 50px 1fr 50px;
  }

  header svg {
    width: 50px;
    height: 50px;
  }

  .footer_div {
    width: 60px;
    height: 60px;
  }

  .footer_div a {
    height: 60px;
  }

  .footer_div img {
    width: 60px;
    height: 60px;
  }

  #plus_button:after {
    height: 3.5px;
    width: 45%;
  }

  #plus_button:before {
    height: 45%;
    width: 3.5px;
  }
}

@keyframes popup {
  0%{
      opacity: 1;
  }
  50% {
      opacity: 1;
  }
  100%{
      opacity: 0;
  }
}
#hamburger_panel {
  position: absolute;
  display: none;
  right: 0;
  top: 0;
  width: var(--ham-width);
  background: var(--body-background);
  z-index: 999;
  padding: 10px;
  height: 100%;
  font-size: 1.5rem;
  overflow-x: hidden;
}
#hamburger_panel ul {
  list-style-type: none;
  overflow-x: hidden;
}
#hamburger_panel li {
  width: calc(var(--ham-width) - 20px);
  color : var(--main-background-font-color);
  cursor: pointer;
  margin: 5px 0;
  overflow-x: hidden;
}
#hamburger_panel li:hover {
  color : #FFF;
  background-color: var(--green-background);
}
.slide {
  animation: slideIn 1s linear forwards;
  display: block;
}

@keyframes slideIn {
  0% {
    width: 0%;
  }
  100% {
    width: var(--ham-width);
  }
}

@media only screen and (max-width: 600px) {
  :root{
    --ham-width : 40vw;
  } 
}
