.main {
    width: 100vw;
    display: grid;
    grid-template-rows: min-content 1fr auto;
}

.main p {
    text-overflow: ellipsis;
    overflow-x: hidden;
    color: var(--main-background-font-color);
}

.group_heading {
    width: 100%;
    position: relative;
    display: block;
    margin: 10px 0;
    grid-row: 1;
}

.group_info {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr min-content;
    margin: 5px auto;
    padding: 10px;
    border: 1px solid var(--main-background-font-color);
    border-radius: var(--border-radius);
    background-color: var(--neutral-background);
}

.group_info p {
    font-size: 1rem;
}

.group_info p:first-of-type {
    font-size: 1.5rem;
}

#joinlink {
    font-size: 1.25rem;
}

.names_members {
    overflow-x: hidden;
}

.names_members svg {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    padding: 2.5px;
    box-sizing: content-box;
    cursor: pointer;
    color: var(--main-background-font-color);
}

.word_break_all {
    word-break: break-all;
}

.group_amount {
    display: flex;
    align-items: center;
}

.group_amount p {
    font-size: 1rem;
    color: inherit;
}

.banner {
    width: 100%;
    /* margin-top: 15px; */
    background-color: var(--green-background);
    text-align: center;
    padding: 5px 0;
}

.banner p {
    font-size: 1rem;
    color: #FFF;
}

.transaction_history {
    width: 100%;
    overflow-y: scroll;
}

.buffer_block {
    background: transparent;
    height: 60px;
    width: 100%;
    display: block;
}

.transaction_container {
    width: 95%;
    margin: auto;
    border: 1px solid var(--main-background-font-color);
    display: grid;
    grid-template-columns: 75% 25%;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    z-index: 1;
    border-radius: var(--border-radius);
}

.pending {
    background-color: #00DBFF;
    font-style: italic;
}

.pending_upper_row {
    display: block;
}

.pending_larger_p {
    font-size: 1.2rem !important;
}

.transaction_container>div {
    pointer-events: none;
}

.pending_transaction_info>div {
    pointer-events: none;
}

.relative_amount {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

/* sfdasd */
.transaction_info div {
    display: grid;
    grid-template-columns: minmax(20%, 1fr) min-content;
    background-color: var(--neutral-background);
    padding: 0 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: var(--border-radius);
}

/* .pending_transaction_info div {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--neutral-background);
    padding: 0 5px;
    text-align: right;
    border-top-left-radius: 0;
    border-bottom-left-radius: var(--border-radius);
}
.pending_transaction_info div:first-of-type {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: 0;
}
.pending_transaction_info div p:first-of-type {
    text-align: left;
} */

.transaction_info div:first-of-type {
    background-color: var(--dark-neutral-background);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: 0;
}

.transaction_info div:first-of-type p {
    color: #FFF;
}

.transaction_info p {
    word-break: keep-all;
    overflow-x: hidden;
    padding: 0 1px;
}

.relative_amount p {
    text-align: center;
}


.transaction_background {
    background-color: var(--background-hide-color);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    /* display: none; */
    z-index: 999;
    /* cursor: pointer; */
}

.transaction_background p {
    text-overflow: ellipsis;
    overflow-x: hidden;
    color: var(--main-background-font-color);
}

.transaction_large {
    width: 95vw;
    height: auto;
    max-height: 90vh;
    padding: 15px;
    background-color: var(--main-background);
    margin: auto;
    margin-top: 5vh;
    position: relative;
    z-index: 10;
    cursor: default;
    border-radius: var(--border-radius);
}

.transaction_heading {
    border-bottom: 1px solid var(--main-background-font-color);
    margin-bottom: 5px;
    color: var(--main-background-font-color);
}

.x_button {
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
    margin-left: auto;
}

.x_button:after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%) rotate(45deg);
    height: 3px;
    width: 100%;
    background: var(--main-background-font-color);
    top: 50%;
    left: 50%;
}

.x_button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: var(--main-background-font-color);
    height: 100%;
    width: 3px;
}

.transaction_heading>* {
    margin: 5px 0;
}

.transaction_heading p {
    display: block;
    width: 100%;
    font-size: 1.25rem;
}

.name_email_combo {
    margin-top: 0px;
}

.name_email_combo p {
    pointer-events: none;
}

.name_email_combo p:last-child {
    font-size: 0.75rem;
    /* font-style: italic; */
    margin-left: 5px;
    color: var(--neutral-background);
}

.transaction_heading input {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    border: none;
    border-bottom: 1px solid var(--neutral-background);
    outline: none;
    background: var(--main-background);
    color: var(--main-background-font-color);
}

.transaction_heading input:focus {
    border-bottom: 1px solid var(--green-background);
}

.split_button_container {
    text-align: end;
}

.split_button_container button {
    line-height: 1.5;
    font-size: 1rem;
    background: var(--opposite-background);
    color: var(--opposite-background-font-color);
    padding: 5px;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.person {
    display: grid;
    grid-template-columns: 25px 1fr 30%;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5px;
    z-index: 0;
    color: var(--main-background-font-color);
}

.person_view {
    grid-template-columns: 70% 30%;
}

.radio {
    background-color: var(--neutral-background);
    border-radius: 50%;
    height: 20px;
    z-index: 1;
    margin-right: 5px;
}

.active {
    background-color: var(--green-background);
}

.person input {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    border: none;
    border-bottom: 1px solid var(--neutral-background);
    outline: none;
    background: var(--main-background);
    color: var(--main-background-font-color);
}

.transaction_large span {
    display: none;
    width: 100%;
    font-size: 80%;
    height: fit-content;
    margin-top: 0.05rem;
    color: var(--red-background);
}

.transaction_large span.comments_char_count {
    display: block;
    color: var(--neutral-background);
    font-style: italic;
}

.submit_expense_container {
    background-color: var(--green-background);
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    border-radius: var(--border-radius);
}

.submit_expense_container p {
    color: #FFF;
    font-size: 1.5rem;
    cursor: pointer;
    pointer-events: none;
}

.confirm_void_container {
    width: 100%;
    display: none;
    grid-template-columns: 49% 49%;
    grid-gap: 2%;
    margin-top: 20px;
}

.confirm_void_container p {
    width: 90%;
    padding: 10px;
    text-align: center;
    color: #FFF;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: var(--red-background);
    justify-self: self-start;
    border-radius: var(--border-radius);
}

.confirm_void_container p:first-child {
    background-color: var(--green-background);
    justify-self: self-end;
}


.debt_remaining_text {
    font-size: 0.75rem;
    font-style: italic;
    color: var(--neutral-background);
}


.expense_payment_form input {
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.5;
    border: none;
    border-bottom: 1px solid var(--neutral-background);
    outline: none;
}

.payment_method {
    margin: 10px 0;
}

.payment_method button {
    padding: 0.25rem 0.5rem;
    line-height: 2;
    font-size: 1rem;
    background-color: var(--neutral-background);
    color: var(--main-background-font-color);
    width: 50%;
    border: none;
    cursor: pointer;
}

.selected_method {
    background-color: var(--green-background) !important;
    color: var(--opposite-background-font-color) !important;
}

.delete_group_button {
    font-size: 1.5rem;
    background-color: var(--red-background);
    color: var(--opposite-background-font-color);
    padding: 15px;
    margin: 5px auto;
    display: block;
    border: none;
    cursor: pointer;
}

.delete_group_button {
    font-size: 1.5rem;
    background-color: var(--red-background);
    color: var(--opposite-background-font-color);
    padding: 15px;
    margin: 5px auto;
    display: block;
    border: none;
    cursor: pointer;
}

/* ---Home page--- */

.myGroupsListContainer {
    max-height: 90vh;
    overflow-y: scroll;
}

.yourNameTotalContainer {
    background-color: var(--neutral-background);
    padding: 20px;
    margin: 10px;
    border-radius: var(--border-radius);
    font-size: 1.25rem;
    border: 1px solid var(--opposite-background);
}

.yourName {
    font-weight: bold;
}

.individualDebt {
    margin-top: 10px;
}

.groupTemplate {
    display: flex;
    border: 1px solid var(--opposite-background);
    margin: 3px auto;
    width: 95%;
    cursor: pointer;
    border-radius: var(--border-radius);
}

.groupNameP {
    background-color: var(--neutral-background);
    /* color: white; */
    font-weight: bold;
    flex: 4;
    padding: 10px;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.debtInGroupP {
    background-color: lightcoral;
    /* color: white; */
    flex: 1;
    padding: 10px;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.positive {
    background-color: var(--green-background);
}

.negative {
    background-color: var(--red-background);
}

.neutral {
    background-color: var(--neutral-background);
}


.repay_all_container {
    margin: 15px auto;
    width: fit-content;
    padding: 10px 20px;
    background-color: var(--green-background);
    border-radius: var(--border-radius);
    font-size: 1.25rem;
    cursor: pointer;
}

.repay_all_container p {
    color: #FFF;
    /* white just looks good with both green backgrounds */
}

.warningPopup {
    padding: 15px;
height: 100px;
width: 50%;
margin: 10px auto;
background: var(--red-background);
display: flex;
align-items: center;
justify-content: center;
text-align: center;
border-radius: var(--border-radius);
}
.warningPopup p {
    color: #FFF;
}

.groupNameHeading {
    width: 98%;
    margin-left: 1%;
    border-bottom: 2px solid var(--neutral-background);
    margin-bottom: 5px;
}
.groupNameHeading p {
    color : var(--neutral-background)
}
.filter_expense_container {
    width: 95%;
    margin: auto;
    margin-top: 10px;
}
.filter_expense_container select {
    margin-left: 5px;
}


.radio_div {
    margin-left: 20px;
  }
  
  .radio_div label {
    margin: 0;
    align-items: center;
    display: flex;
    cursor: pointer;
    width: fit-content;
  }
  
  .radio_div input[type="radio"] {
    appearance: none;
    background-color: var(--main-background);
    margin: 0 5px 0 0;
    width: 1rem;
    height: 1rem;
    border: 3px solid var(--neutral-background);
    border-radius: 3px;
    display: grid;
    place-content: center;
    cursor: pointer;
  }
  .radio_div input[type="radio"]::before {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 3px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1rem 1rem var(--green-background);
  }

  .radio_div input[type="radio"]:checked::before {
    transform: scale(1);
  }
    
  /* .radio_div span + .radio_div input:checked {
    background: var(--green-background);
    color: white;
  } */


  .testing {
    width: 50vw;
    height: 50vh;
    margin: auto;
  }

  .gallery_item_wrapper {
    display: none;
    width: 100%;
    height: 100%;
  }
  .gallery_container {
    width: 50vw;
    height: 500px;
  }

  .arrow {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    padding: 0.25rem;
    border: none;
    background-color: var(--dark-neutral-background);
    align-self: flex-end;
    margin: 0 5px;
  }
  .arrow svg {
    width: 1rem;
    height: 1rem;
    color: var(--main-background-font-color);
  }
  .left {
    transform: rotate(180deg);
    margin-left: auto;
  }

  /* .button_arrows_container span {
    background-color: var(--background-hide-color);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
  } */

  .gallery_type_select {
    min-width: 100px;
    font-size: 0.75rem;
    color: var(--main-background-font-color);
    border: 1px solid var(--main-background-font-color);
    line-height: 1;
    outline: 0;
    border-radius: var(--border-radius);
    background-color: var(--main-background);
    padding: 5px 10px;
    cursor: pointer;
  }

  .gallery_arrows_type_container {
    display: flex;
    margin: 10px 0;
  }

  .gallery_dots {
    text-align: center;
    margin-top: 10px;
  }

  .gallery_dots span {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    background: var(--neutral-background);
  }

  .gallery_graphs_container {
    width: 50vw;
    /* height: 600px; */
    margin: auto;
  }

  .download_data {
    margin-left: 5px;
    border: none;
    background-color: var(--green-background);
    color: #FFF;
    border-radius: var(--border-radius);
    padding: 2px 5px;
    font-size: 0.75rem;
  }

/* ------------Lists------------ */
.listTemplate {
    display: flex;
    gap: 4rem;
    border: 1px solid var(--opposite-background);
    margin: 3px auto;
    width: 95%;
    cursor: pointer;
    border-radius: var(--border-radius);
}

.listNameP {
    background-color: var(--neutral-background);
    /* color: white; */
    font-weight: bold;
    flex: 4;
    padding: 10px;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.listNameAnchor {
    margin-right: 3%;
    margin-top: 1%;
}

.listItem {
    box-sizing: border-box;
    position: absolute;
    width: 250px;
    height: 46px;
    left: 35px;
    top: 140px;
    background: #E6E6E6;
    border: 1px solid #000000;
    border-radius: var(--border-radius);
}

.shoppingTitle {
    text-align: center;
    padding: 1%;
    background: var(--green-background);
    margin-top: 1%;
    color: white;
}

.createExpense {
    /* button */
    width: 226px;
    height: 37px;
    margin: auto;
    background: #D96767;
    mix-blend-mode: normal;
    border: 1px solid #000000;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer; 
    text-align: center; 
    line-height: 37px; 
    display: block;
}

.infobanner {
    width: 100%;
    /* margin-top: 15px; */
    background-color: var(--neutral-background);
    text-align: center;
    padding: 5px 0;
}

.infobanner p {
    font-size: 1rem;
    color: #FFF;
}

.popupContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popupContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 80%;
    overflow-y: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .th,
  .td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .button {
    /* Customize button style */
    cursor: pointer;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  