/* .header {
  width: 100vw;
  height: 80px;
  display: block;
  background-color: transparent;
  border: none;
  padding: 0;
}
.header img {
  width: 80px;
  height: 80px;
  display: block;
  margin: auto;
} */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.position_box {
  width: 80vw;
  display: block;
  padding-bottom: 5vh;
}

.incorrect_box {
  display: none;
  margin-top: 5px;
}

.incorrect_box p {
  background: var(--red-muted-background) !important;
  border: none !important;
  color : #900;
  padding: 10px;
  border-radius: var(--border-radius);
  text-align: center;
}

.signup_form div {
  margin-bottom: 15px;
}

.signup_form label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  color: var(--main-background-font-color);
}

.signup_form input {
  display: block;
  height: 1.5rem;
  padding: 3px 5px;
  padding-right: 1.5rem;
  width: 100%;
  border-radius: var(--border-radius);
  border : 1px solid var(--neutral-background);
  font-size : 1rem;
}

.signup_form input:focus {
  outline: 1px solid var(--green-background);
}
.signup_form input.active {
  border: 1px solid var(--red-background);
}

.signup_form span {
  display: none;
  width: 100%;
  font-size: 80%;
  height: fit-content;
  margin-top: 0.25rem;
  color: var(--red-background);
}

.signup_form button {
  width: 100%;
  line-height: 2;
  background: var(--green-background);
  color: var(--main-background);
  border: none;
  border-radius: var(--border-radius);
  font-size: 1rem;
}

.signup_form {
  margin: 15px auto;
    /* margin-top: 15px; */
    width: 80%;
    background: var(--main-background);
    padding: 1rem;
    border-radius: var(--border-radius);
}

/* #checkbox_div {
  display: flex;
  justify-content: flex-end;
}
#checkbox_div label {
  margin: 0 5px 0 0;
  align-items: center;
  display: flex;
}
#checkbox_div input {
  visibility: hidden;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
}
#checkbox_div span {
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--neutral-background);
  border-radius: var(--border-radius);
  display: inline-block;
  margin: 0 0 0 5px;
  position: relative;
}
#checkbox_div input[type=checkbox]:checked + svg {
  background: var(--green-background);
} */

#checkbox_div {
  display: flex;
  justify-content: flex-end;
}
#checkbox_div label {
  margin: 0 5px 0 0;
  align-items: center;
  display: flex;
}
#checkbox_div input {
  visibility: hidden;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
}
#checkbox_div span {
  width: 1rem;
  height: 1rem;
  box-sizing: content-box;
  border: 2px solid var(--neutral-background);
  border-radius: 3px;
  display: inline-block;
  margin: 0 0 0 5px;
  position: relative;
  background-color: var(--main-background);
  color : var(--main-background);
}
#checkbox_div span svg {
  color: inherit;
}
#checkbox_div input[type=checkbox]:checked + span {
  background: var(--green-background);
  color : white;
}

.position_box p {
  text-align: center;
    padding: 15px;
    border: 1px solid var(--neutral-background);
    border-radius: var(--border-radius);
    width: 80%;
    margin: auto;
    background: var(--main-background);
    box-shadow: 1px 2px 15px 0 var(--dark-neutral-background);
}

.position_box a {
  display: block;
  color: var(--green-background);
}
.position_box a:visited {
  color: #007b15;
}

.inode {
  margin-bottom: 0px !important;
  position: relative;
}

.inode svg {
  width: 1rem;
  height: 1rem;
  position: relative;
  display: block;
  pointer-events: none;
  color: var(--main-background-font-color);
}
.inode path {
  pointer-events: none;
}
.inode i {
  width: 1rem;
  height: 1.5rem;
  padding-right: 0.5rem;
  box-sizing: content-box;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media screen and (min-width : 800px) {
  .position_box {
    width: 50vw;
  }
}